<ng-container>
  <div class="column">
    <h4 class="column__title">new card</h4>
    <form class="form"
      (ngSubmit)="onSubmitCreateCardForm()" [formGroup]="createCardForm">
      <input class="title" placeholder="Title" type="text" formControlName="title">
      <textarea class="content" placeholder="Content" formControlName="content"></textarea>
      <button class="submit" type="submit">submit</button>
    </form>
  </div>
  <div class="column">
    <h4 class="column__title">to do</h4>
    <ng-container *ngFor="let card of toDoCards">
      <kanban-card [title]="card.titulo"
      [content]="card.conteudo"
      [id]="card.id"
      [list]="card.lista"
      (changeListEvent)="changeCardList($event)"
      (deleteCardEvent)="deleteCard($event)"></kanban-card>
    </ng-container>
  </div>
  <div class="column">
    <h4 class="column__title">doing</h4>
    <ng-container *ngFor="let card of doingCards">
      <kanban-card [title]="card.titulo"
      [content]="card.conteudo"
      [id]="card.id"
      [list]="card.lista"
      (changeListEvent)="changeCardList($event)"
      (deleteCardEvent)="deleteCard($event)"></kanban-card>
    </ng-container>
  </div>
  <div class="column">
    <h4 class="column__title">done</h4>
    <ng-container *ngFor="let card of doneCards">
      <kanban-card [title]="card.titulo"
      [content]="card.conteudo"
      [id]="card.id"
      [list]="card.lista"
      (changeListEvent)="changeCardList($event)"
      (deleteCardEvent)="deleteCard($event)"></kanban-card>
    </ng-container>
  </div>
</ng-container>
